fastapi
uvicorn
python-dotenv
pydantic
azure-storage-blob
langchain
langchain-core
langchain-openai
langchain-huggingface
langchain-community
faiss-cpu
sentence-transformers
pypdf
botbuilder-core
